html,
body {
    height: 100%;
}

body {
    /* display: flex; */
    /* align-items: center; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container{
    height: 100%;
}
.chat {
    height: 100%;
}
.rooms {
    height: 100%;
}
.chat-box {
    height: 90%;
    min-height: 400px;
}
.chat-room {
    cursor: pointer;
}
.chat-room:hover, .active-chat {
    color: #0dcaf0 !important;
}   
.chat-room span {
    pointer-events: none;
}

.chat-messages {
    padding-top: 10px;
}
.message {
    color: white;
    padding: 0px 8px 8px ; 
    display: flex;
    flex-direction: column;
}
.message .msg-time {
    width: 55%;;
    margin-left: 16px;
}

.message .body{
    box-sizing: border-box;
    background-color: #C1F8CF;
    width: 55%;
    padding: 10px;
    margin: 0px 10px 5px 10px;
    color: #212529;
}
.my_msg {
    align-items: end;
}
.others_msg .body{
    border-radius: 0px 16px 16px 16px; 
}

.my_msg .body{
    border-radius: 16px 0px 16px 16px;
}

#sendBtn {
    border: 1px solid #ced4da;
}

.room-header {
    font-weight: bold;
}